<!DOCTYPE html>
<html lang="en">
<head>
    <link rel="stylesheet" href="/styles.css">
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Sign-up</title>
</head>
<body>

    <h1>RunBook</h1>

    <p style="text-align:center; opacity:0.8;">Create a new account</p>
    <form action="/auth/sign-up" method="POST">
    <label>Username</label>
    <input type="text" name="username" required/>

    <label>Password</label>
    <input type="password" name="password" required/>

    <label>Confirm Password</label>
    <input type="password" name="confirmPassword">
    <button type="submit">Submit</button>
    <p>
        Already have an account?
        <a href="/auth/log-in">Log in</a>
    </p>
</form>

</body>
</html>